:root {
  --color-problematic: #e25050;

  // Base Colors
  --color-foreground-primary: #ffffffd9; // for main text and headings
  --color-foreground-secondary: #9ca0a5; // for secondary text
  --color-foreground-muted: #81868d; // for muted text
  --color-foreground-border: #666666; // for content borders

  --color-background-primary: #131416; // for content
  --color-background-secondary: #1a1c1e; // for navigation + ToC
  --color-background-hover: #1e2124ff; // for navigation-item hover
  --color-background-hover--transparent: #1e212400;
  --color-background-border: #303335; // for UI borders

  // Announcements
  --color-announcement-background: #000000dd;
  --color-announcement-text: #eeebee;

  // Brand colors
  --color-brand-primary: #2b8cee;
  --color-brand-content: #368ce2;

  // Highlighted text (search)
  --color-highlighted-background: #083563;

  // GUI Labels
  --color-guilabel-background: #08356380;
  --color-guilabel-border: #13395f80;

  // API documentation
  --color-api-highlight-on-target: #333300;

  // Admonitions
  --color-admonition-background: #18181a;
}